:root {
  --html-color: #EC652A;
  --css-color: #38A8E0;
  --js-color: #FFD839;
  --html-color-darker: #d5421a;
  --css-color-darker: #1E8BC1;
  --js-color-darker: #DAB92E;
  --progress-height: 24px;
}

* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Baloo 2', cursive;
}

html, body {
  min-width: 360px;
  min-height: 100%;
}

body {
  background: -webkit-gradient(linear, left bottom, left top, from(#fff1eb), to(#ace0f9)) no-repeat center center/cover;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%) no-repeat center center/cover;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}

ul, li {
  list-style-type: none;
}

@media screen and (min-width: 2378px) {
  .container .challenges {
    max-width: 1700px;
  }
}

.container {
  color: white;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container > h1 {
  margin: 0 0 30px;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.05em;
}

.challenges {
  width: 100%;
  max-width: 1600px;
  margin: 40px auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(300px, 380px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 380px));
}

.challenges::-webkit-scrollbar {
  display: none;
}

.challenges .challenge {
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: -4px 4px 0 rgba(51, 51, 51, 0.25);
          box-shadow: -4px 4px 0 rgba(51, 51, 51, 0.25);
}

.challenges .challenge.completed .caption::after {
  background-color: #1DD1A1;
}

.challenges .challenge.in-progress .caption::after {
  background-color: #FECA57;
}

.challenges .challenge:nth-child(1) .caption::before {
  visibility: visible;
}

.challenges .challenge:nth-child(1) .caption::before, .challenges .challenge:nth-child(2) .caption::before {
  visibility: visible;
}

.challenges .challenge .caption {
  height: 230px;
  display: block;
  overflow: hidden;
  position: relative;
}

.challenges .challenge .caption img {
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.challenges .challenge .caption:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.challenges .challenge .caption::after, .challenges .challenge .caption::before {
  height: var(--progress-height);
  margin: 10px;
  padding: 0 10px;
  position: absolute;
  border-radius: calc(var(--progress-height) / 2);
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.challenges .challenge .caption::after {
  content: attr(data-progress);
  top: 0;
  right: 0;
}

.challenges .challenge .caption::before {
  content: 'NEW';
  top: 0;
  right: 110px;
  z-index: 1;
  visibility: hidden;
  background-color: #EE5253;
}

.challenges .challenge .hero {
  padding: 15px;
  background-color: white;
}

.challenges .challenge .hero a {
  color: #333333;
  font-size: 1.5rem;
  white-space: nowrap;
  -webkit-text-decoration-color: #333333;
          text-decoration-color: #333333;
}

.challenges .challenge .hero .languages {
  margin: 10px 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  -ms-grid-columns: (minmax(60px, 60px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(60px, 60px));
}

.challenges .challenge .hero .languages .language {
  cursor: default;
  font-size: 1.125rem;
  text-align: center;
  border-radius: 5px;
}

.challenges .challenge .hero .languages .language.hide {
  visibility: hidden;
}

.challenges .challenge .hero .languages .language.html {
  -webkit-box-shadow: 0px 4px 0px var(--html-color-darker);
          box-shadow: 0px 4px 0px var(--html-color-darker);
  background-color: var(--html-color);
}

.challenges .challenge .hero .languages .language.html:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0px 2px 0px var(--html-color-darker);
          box-shadow: 0px 2px 0px var(--html-color-darker);
}

.challenges .challenge .hero .languages .language.css {
  -webkit-box-shadow: 0px 4px 0px var(--css-color-darker);
          box-shadow: 0px 4px 0px var(--css-color-darker);
  background-color: var(--css-color);
}

.challenges .challenge .hero .languages .language.css:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0px 2px 0px var(--css-color-darker);
          box-shadow: 0px 2px 0px var(--css-color-darker);
}

.challenges .challenge .hero .languages .language.js {
  -webkit-box-shadow: 0px 4px 0px var(--js-color-darker);
          box-shadow: 0px 4px 0px var(--js-color-darker);
  background-color: var(--js-color);
}

.challenges .challenge .hero .languages .language.js:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0px 2px 0px var(--js-color-darker);
          box-shadow: 0px 2px 0px var(--js-color-darker);
}

.challenges .challenge .links {
  color: #333;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px solid #DBE5E6;
  background-color: white;
}

.challenges .challenge .links .link {
  cursor: pointer;
  padding: 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.challenges .challenge .links .link:nth-child(1) .link-icon {
  background: url("../images/github.png") no-repeat center center/cover;
}

.challenges .challenge .links .link:nth-child(2) {
  border-left: 1px solid #DBE5E6;
  border-right: 1px solid #DBE5E6;
}

.challenges .challenge .links .link:nth-child(2) .link-icon {
  background: url("../images/frontend-mentor.png") no-repeat center center/cover;
}

.challenges .challenge .links .link:nth-child(3) .link-icon {
  background: url("../images/website.png") no-repeat center center/cover;
}

.challenges .challenge .links .link .link-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border: 1px solid #DBE5E6;
  border-radius: 50%;
}

.challenges .challenge .links .link:hover .link-name {
  text-decoration: underline;
}
