@keyframes htmlButtonAnimation {
    
    0%{
        transform: translateY(2px);
        box-shadow: 0px 2px 0px var(--html-color-darker);
    }
    100%{
        transform: translateY(0px);
        box-shadow: 0px 4px 0px var(--html-color-darker);
    }

}

@keyframes cssButtonAnimation {
    
    0%{
        transform: translateY(2px);
        box-shadow: 0px 2px 0px var(--css-color-darker);
    }
    100%{
        transform: translateY(0px);
        box-shadow: 0px 4px 0px var(--css-color-darker);
    }

}

@keyframes jsButtonAnimation {
    
    0%{
        transform: translateY(2px);
        box-shadow: 0px 2px 0px var(--js-color-darker);
    }
    100%{
        transform: translateY(0px);
        box-shadow: 0px 4px 0px var(--js-color-darker);
    }

}