@import './mixins';
@import './keyframes';

:root{
    --language-bg: #EDF6F6; //#BCC5CE;
    --language-shadow: #5CA4A4; //#929EAD;
    --language-text-color: #5CA4A4; //#222222;

    --new-label-bg: #EE5253;
    --completed-label-bg: #EDF6F6; //#1DD1A1;
    --completed-label-color: #5CA4A4;
    --inprogress-label-bg: #FECA57;

    --challenge-card-bg: #FFFFFF;
    --challenge-card-shadow: rgba(102, 102, 102, 0.25);
    --challenge-card-text-color: #333333;

    --links-border-color: #DBE5E6;

    --progress-height: 24px;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}

html,body{
    min-width: 360px;
    min-height: 100%;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    display: block;
}

ul,li{
    list-style-type: none;
}

body{
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%) no-repeat center center/cover fixed;
}

@media screen and (min-width: 2378px){

    .container .challenges{
        max-width: 1700px;
    }

}

.container{
    color: white;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    & > h1{
        margin: 0 0 30px;
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
        letter-spacing: 0.05em;
    }

}

.challenges{
    width: 100%;
    max-width: 1600px;
    // max-height: 80vh;
    // overflow-y: scroll;
    margin: 40px auto;
    display: grid;
    grid-gap: 60px;
    justify-content: center;
    grid-template-columns: repeat((auto-fit, minmax(300px, 380px)));

    // &::-webkit-scrollbar{
    //     display: none;
    // }

    .challenge{
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 0 35px var(--challenge-card-shadow);
        background-color: var(--challenge-card-bg);

        &.completed .caption::after{
            color: var(--completed-label-color);
            border: 1px solid;
            background-color: var(--completed-label-bg);
        }

        &.in-progress .caption::after{
            background-color: var(--inprogress-label-bg);
        }

        @include showNewChallengeLabel(2);

        .caption{
            height: 230px;
            display: block;
            overflow: hidden;
            position: relative;

            img{
                width: 100%;
                height: 100%;
                transition: all .5s ease;
                backface-visibility: hidden;
            }

            &:hover img{
                transform: scale(1.05);
            }

            &::after, &::before{
                height: var(--progress-height);
                margin: 10px;
                padding: 0 10px;
                position: absolute;
                border-radius: calc(var(--progress-height) / 2);
                font-size: 1rem;
                font-weight: 500;
                text-transform: uppercase;
            }

            &::after{
                content: attr(data-progress);
                top: 0;
                right: 0;
            }

            &::before{
                content: 'NEW';
                top: 0;
                right: 110px;
                z-index: 1;
                visibility: hidden;
                background-color: var(--new-label-bg);
            }

        }

        .hero{
            padding: 15px;
            background-color: white;

            a{
                color: var(--challenge-card-text-color);
                font-size: 1.5rem;
                white-space: nowrap;
                text-decoration-color: var(--challenge-card-text-color);
            }

            .date{
                color: #929EAD;
                font-size: 1.3rem;
                font-weight: 400;
            }

            .languages{
                margin: 10px 0;
                display: grid;
                grid-gap: 15px;
                grid-template-columns: repeat(auto-fill, 60px);

                .language{
                    color: var(--language-text-color);
                    cursor: default;
                    font-size: 1.125rem;
                    text-align: center;
                    border-radius: 5px;
                    // box-shadow: 0px 4px 0px var(--language-shadow, linear-gradient(180deg, rgba(188, 197, 206, 0.3) 0%, rgba(146, 158, 173, 0.98) 100%));
                    // background: linear-gradient(180deg, rgba(188, 197, 206, 0.3) 0%, rgba(146, 158, 173, 0.98) 100%);
                    box-shadow: 0px 0px 2px var(--language-shadow);
                    // box-shadow: 0px 4px 0px var(--language-shadow);
                    background: var(--language-bg);

                    &.hide{
                        visibility: hidden;
                    }

                    // &:hover{
                    //     animation: languageButtonAnimation .5s forwards;
                    // }

                }

            }

        }

        .links{
            color: var(--challenge-card-text-color);
            height: 60px;
            display: flex;
            justify-content: space-around;
            border-top: 1px solid var(--links-border-color);

            .link{
                cursor: pointer;
                padding: 0 6px;
                display: flex;
                align-items: center;

                &:hover .link-name{
                    text-decoration: underline;
                }

                .link-icon{
                    width: 32px;
                    height: 32px;
                    margin-right: 8px;
                    border: 1px solid var(--links-border-color);
                    border-radius: 50%;
                }

                @include linksImage;

            }

        }

    }

}