* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Baloo 2', cursive;
}

html, body {
  min-height: 100%;
}

body {
  background: -webkit-gradient(linear, left bottom, left top, from(#fff1eb), to(#ace0f9)) no-repeat center center/cover;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%) no-repeat center center/cover;
}

a {
  text-decoration: none;
}

.container {
  color: white;
  padding: 37.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container h1 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.05em;
}

.challenges {
  width: 100%;
  max-width: 700px;
  max-height: 783px;
  overflow-y: scroll;
}

.challenges::-webkit-scrollbar{
  display: none;
}

.challenges .challenge {
  margin: 48px 0 48px 32px;
  padding: 0 0 0 45px;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: -4px 4px 0px #C4C4C4;
          box-shadow: -4px 4px 0px #C4C4C4;
  background-color: white;
}

.challenges .challenge::after {
  color: white;
  content: attr(data-position);
  top: -15px;
  left: -28px;
  width: 48px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 3rem;
  font-weight: 600;
  line-height: 58px;
  position: absolute;
  border-radius: 5px;
  -webkit-box-shadow: -4px 4px 0px #C4C4C4;
          box-shadow: -4px 4px 0px #C4C4C4;
  background-color: #ACE0F9;
}

.challenges .challenge .name {
  color: #333333;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 0.05em;
}
