$green: hsl(154, 59%, 51%);

:root{
    --red: hsl(0, 100%, 74%); /* Main backround, Error messages color, Terms & conditions color*/

    // Submit button background, shadow & hover colors
    --green: hsl(154, 59%, 51%);
    --dark-green: #{darken($green, 5%)};
    --light-green: #{lighten($green, 5%)};

    // Message background & shadow, attribution anchor tag color & input focus state border color
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

input {
    appearance: none;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url("../images/bg-intro-desktop.png") no-repeat center center/cover;
    background-color: var(--red);
}

@media screen and (min-width: 768px) {

    *{
        font-size: 16px;
    }

    body .container{
        text-align: left;
        flex-direction: row;

        section{
            width: 50%;
        }

    }
}

@media screen and (min-width: 1440px){
    *{
        font-size: 18px;
    }
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    section{
        max-width: 36.75rem;
        padding: 1.25rem;

        &.hero{
            color: white;

            .title{
                margin-bottom: 1rem;
                font-size: 3rem;
                font-weight: 600;
                line-height: 1.2;
            }

            .desc{
                font-size: 1.1rem;
            }

        }

        &.form{

            .message{
                color: white;
                margin: 1rem 0;
                padding: 1rem;
                font-weight: 400;
                text-align: center;
                border-radius: 10px;
                box-shadow: 0 10px 2px 0 rgba(85, 85, 85, .3);
                background-color: var(--blue);

                span{
                    font-weight: 600;
                }

            }

            form{
                margin: 2rem 0;
                padding: 1.5rem 2rem;
                border-radius: 10px;
                background-color: white;

                input{
                    width: 100%;
                    display: block;
                }

                .input-group{
                    margin: 1.25rem 0;
                    position: relative;

                    input{
                        color: var(--dark-blue);
                        border: 1px solid var(--grayish-blue);
                        outline: none;
                        padding: 1rem 1.5rem;
                        font-size: 1rem;
                        font-weight: 600;
                        border-radius: 5px;
    
                        &:focus, &:active{
                            border-color: var(--dark-blue);
                        }
    
                    }

                    &.error{
                        
                        .error-msg{
                            display: block;
                        }

                        &::after{
                            content: '';
                            top: 50%;
                            right: 1rem;
                            width: 24px;
                            height: 24px;
                            margin-top: -11px;
                            position: absolute;
                            transform: translate(-50%, -50%);
                            background: url("../images/icon-error.svg") no-repeat center center/cover;
                        }

                    }
                    
                    .error-msg{
                        color: var(--red);
                        margin: 5px 0;
                        display: none;
                        font-size: .7rem;
                        font-style: italic;
                        text-align: right;
                    }

                }

                input[type=submit]{
                    color: white;
                    cursor: pointer;
                    border: none;
                    padding: 1rem;
                    border-radius: 10px;
                    letter-spacing: 1px;
                    box-shadow: 0 5px 0 0 var(--dark-green);
                    background-color: var(--green);

                    &:hover{
                        background-color: var(--light-green);
                    }

                    &:active{
                        transform: translateY(2px);
                        box-shadow: 0 3px 0 0 var(--dark-green);
                    }

                }

                .terms{
                    color: var(--grayish-blue);
                    margin: 1.25rem 0;
                    font-size: .8rem;
                    text-align: center;

                    a{
                        color: var(--red);
                        font-weight: 600;
                        font-size: inherit;
                    }

                }

            }

        }

    }
    
}

footer{
    color: white;
    margin: 0 auto 1rem;
    text-align: center;

    .attribution{
        font-size: 1rem;
        letter-spacing: 1px;
        
        a{
            color: var(--blue);
            font-size: 1.1rem;
            font-weight: 500;

            &:hover{
                text-decoration: underline;
            }

        }

    }

}