:root{
    --clr-modarateViolet: hsl(263, 55%, 52%);
    --clr-veryDarkGrayishBlue: hsl(217, 19%, 35%);
    --clr-veryDarkBlackishBlue: hsl(219, 29%, 14%);
    --clr-white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Barlow Semi Condesed', sans-serif;
}

body{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}


/*? LAYOUT */

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main{
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "box1 box1 box2 box3"
                         "box4 box5 box5 box3";
}


@media screen and (max-width: 1100px){

    .container .main{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "box1 box1 box2"
                             "box4 box5 box5"
                             "box3 box3 box3";
    }

}

@media screen and (max-width: 675px){

    .container .main{
        grid-template-columns: 1fr;
        grid-template-areas: "box1" "box2" "box3" "box4" "box5";
    }

}


/*? TESTIMONIAL CARD */

.testimonial{
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(85,85,85,0.2);
    -moz-box-shadow: 0px 0px 20px 5px rgba(85,85,85,0.2);
    box-shadow: 0px 0px 20px 5px rgba(85,85,85,0.2);
    background-color: var(--clr-white);
}

    #box1{
        position: relative;
        grid-area: box1;
        background-color: var(--clr-modarateViolet); 
    }

        #box1::before{
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background: url("images/bg-pattern-quotation.svg") no-repeat 100px 100px;
            background-position: 90% 0;
        }

        #box1 * {
            position: relative;
        }

    #box2{ 
        grid-area: box2; 
        background-color: var(--clr-veryDarkGrayishBlue); 
    }

    #box3{
        grid-area: box3;
    }

    #box4{ 
        grid-area: box4; 
    }

    #box5{ 
        grid-area: box5;
        background-color: var(--clr-veryDarkBlackishBlue);
    }

.testimonial.testimonial-light .avatar .name,
.testimonial.testimonial-light .avatar .verified,
.testimonial.testimonial-light > h1,
.testimonial.testimonial-light > p{
    color: var(--clr-veryDarkGrayishBlue);
}

.testimonial .avatar{
    display: flex;
    align-items: center;
}

.testimonial .avatar .photo{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border: 2.5px solid #B99FE3;
    border-radius: 50%;
}

    #box1 .avatar .photo{ background: url("images/image-daniel.jpg") no-repeat center center/cover; }
    #box2 .avatar .photo{ background: url("images/image-jonathan.jpg") no-repeat center center/cover; }
    #box3 .avatar .photo{ background: url("images/image-kira.jpg") no-repeat center center/cover; }
    #box4 .avatar .photo{ background: url("images/image-jeanette.jpg") no-repeat center center/cover; }
    #box5 .avatar .photo{ background: url("images/image-patrick.jpg") no-repeat center center/cover; }


.testimonial .avatar .name,
.testimonial .avatar .verified{
    color: var(--clr-white);
    font-size: .9rem;
    font-weight: 300;
}

.testimonial .avatar .verified{
    opacity: .5;
    font-size: .75rem;
    font-weight: 500;
}

.testimonial > h1{
    color: var(--clr-white);
    margin: 20px 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.testimonial > p{
    color: var(--clr-white);
    opacity: .7;
    font-size: .9rem;
}

/*? ATTRIBUTION */

.attribution {
    color: #333;
    margin: 20px 0;
    text-align: center;
    letter-spacing: 1px;
}

.attribution a {
    color: #3e52a3;
}