@-webkit-keyframes fallDown {
  0% {
    -webkit-transform: translate(0, calc(-100% - 171px)) rotateZ(-10deg);
            transform: translate(0, calc(-100% - 171px)) rotateZ(-10deg);
  }
  100% {
    -webkit-transform: translate(-30px, -30px) rotateZ(-10deg);
            transform: translate(-30px, -30px) rotateZ(-10deg);
  }
}

@keyframes fallDown {
  0% {
    -webkit-transform: translate(0, calc(-100% - 171px)) rotateZ(-10deg);
            transform: translate(0, calc(-100% - 171px)) rotateZ(-10deg);
  }
  100% {
    -webkit-transform: translate(-30px, -30px) rotateZ(-10deg);
            transform: translate(-30px, -30px) rotateZ(-10deg);
  }
}

@-webkit-keyframes fallDown2 {
  0% {
    -webkit-transform: translate(-30px, -30px) rotateZ(-10deg);
            transform: translate(-30px, -30px) rotateZ(-10deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotateZ(0deg);
            transform: translate(0, 0) rotateZ(0deg);
  }
}

@keyframes fallDown2 {
  0% {
    -webkit-transform: translate(-30px, -30px) rotateZ(-10deg);
            transform: translate(-30px, -30px) rotateZ(-10deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotateZ(0deg);
            transform: translate(0, 0) rotateZ(0deg);
  }
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --base-font-size: 16px;
  --fallDown-duration: .5s;
  --fallDown2-duration: .1s;
  --fallDown2-delay: var(--fallDown-duration);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--base-font-size);
  font-family: 'Red Hat Display', sans-serif;
}

img {
  display: block;
}

@media screen and (max-width: 374px) {
  main .summary .plan {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .summary .plan .info {
    margin: 1rem 0;
  }
  main .summary .plan .change {
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  :root {
    --base-font-size: 12px;
  }
  html body {
    background-image: url("../images/pattern-background-mobile.svg");
  }
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../images/pattern-background-desktop.svg") no-repeat top center/contain;
  background-color: var(--pale-blue);
}

main {
  margin: 15px;
  max-width: 28.125rem;
  overflow: hidden;
  border-radius: 25px;
  background-color: white;
  -webkit-animation: fallDown var(--fallDown-duration) forwards, fallDown2 var(--fallDown2-duration) var(--fallDown2-delay) forwards;
          animation: fallDown var(--fallDown-duration) forwards, fallDown2 var(--fallDown2-duration) var(--fallDown2-delay) forwards;
}

.hero img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.8rem 2.9rem;
  text-align: center;
}

.summary .title {
  color: var(--dark-blue);
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 900;
}

.summary .desc {
  color: var(--desaturated-blue);
}

.summary .btn {
  border: none;
  cursor: pointer;
  -webkit-transition: color .2s ease-out, background-color .2s ease-out;
  transition: color .2s ease-out, background-color .2s ease-out;
}

.summary .plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.5rem 0;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: var(--very-pale-blue);
}

.summary .plan .info {
  margin: 0 1.2rem;
}

.summary .plan .info h2 {
  color: var(--dark-blue);
  font-weight: 900;
  white-space: nowrap;
}

.summary .plan .info .price {
  color: var(--desaturated-blue);
}

.summary .plan .change {
  color: var(--bright-blue);
  margin-left: auto;
  font-size: .9rem;
  font-weight: 700;
  text-decoration: underline;
  background-color: transparent;
}

.summary .plan .change:hover {
  color: #6156e6;
}

.summary .payment {
  color: white;
  margin: 0.3rem 0;
  padding: .85rem;
  font-weight: 700;
  border-radius: 10px;
  -webkit-box-shadow: 0px 20px 46px 0px rgba(56, 41, 224, 0.4);
          box-shadow: 0px 20px 46px 0px rgba(56, 41, 224, 0.4);
  background-color: var(--bright-blue);
}

.summary .payment:hover {
  background-color: #6156e6;
}

.summary .cancel {
  color: var(--desaturated-blue);
  margin-top: 2.18rem;
  font-weight: 700;
  background-color: transparent;
}

.summary .cancel:hover {
  color: var(--dark-blue);
}

footer {
  color: var(--dark-blue);
  opacity: 0;
  text-align: center;
  line-height: 1.5;
  -webkit-animation: fadeUp 1s .7s forwards;
          animation: fadeUp 1s .7s forwards;
}
