body.theme-1 {
  --main-bg: hsl(222, 26%, 31%);
  --keypad-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);
  --screen-text: white;
  --opt-keys-text: white;
  --opt-keys-bg: hsl(225, 21%, 49%);
  --opt-keys-shadow: hsl(224, 28%, 35%);
  --numeric-keys-text: hsl(221, 14%, 31%);
  --numeric-keys-bg: hsl(30, 25%, 89%);
  --numeric-keys-shadow: hsl(28, 16%, 65%);
  --equal-key-text: white;
  --equal-key-bg: hsl(6, 63%, 50%);
  --equal-key-shadow: hsl(6, 70%, 34%);
}

body.theme-2 {
  --main-bg: hsl(0, 0%, 90%);
  --keypad-bg: hsl(0, 5%, 81%);
  --screen-bg: hsl(0, 0%, 93%);
  --screen-text: hsl(60, 10%, 19%);
  --opt-keys-text: white;
  --opt-keys-bg: hsl(185, 42%, 37%);
  --opt-keys-shadow: hsl(185, 58%, 25%);
  --numeric-keys-text: hsl(221, 14%, 31%);
  --numeric-keys-bg: hsl(30, 25%, 89%);
  --numeric-keys-shadow: hsl(28, 16%, 65%);
  --equal-key-text: white;
  --equal-key-bg: hsl(25, 98%, 40%);
  --equal-key-shadow: hsl(25, 99%, 27%);
}

body.theme-3 {
  --main-bg: hsl(268, 75%, 9%);
  --keypad-bg: hsl(268, 71%, 12%);
  --screen-bg: hsl(268, 71%, 12%);
  --screen-text: hsl(52, 100%, 62%);
  --opt-keys-text: white;
  --opt-keys-bg: hsl(281, 89%, 26%);
  --opt-keys-shadow: hsl(285, 91%, 52%);
  --numeric-keys-text: hsl(52, 100%, 62%);
  --numeric-keys-bg: hsl(268, 47%, 21%);
  --numeric-keys-shadow: hsl(290, 70%, 36%);
  --equal-key-text: hsl(198, 20%, 13%);
  --equal-key-bg: hsl(176, 100%, 44%);
  --equal-key-shadow: hsl(177, 92%, 70%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 32px;
  font-family: 'Spartan', sans-serif;
}

body {
  min-width: 415px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--main-bg);
}

.container {
  width: 100%;
  margin: 40px;
  max-width: 540px;
}

body.theme-1 .theme .toggle::after {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

body.theme-2 .theme .toggle::after {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

body.theme-3 .theme .toggle::after {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.head {
  min-width: 380px;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head * {
  color: var(--screen-text);
}

.head .logo {
  font-weight: 600;
}

.head .theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head .theme p {
  margin: 0 22px;
  font-size: .375rem;
  letter-spacing: 1px;
}

.head .theme .toggle {
  width: 70px;
  padding: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 15px;
  background-color: var(--keypad-bg);
}

.head .theme .toggle::after {
  content: '';
  width: 15px;
  height: 15px;
  left: 8px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  position: absolute;
  border-radius: 50%;
  background-color: var(--equal-key-bg);
}

.head .theme .toggle .circle {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: relative;
}

.head .theme .toggle .circle::after {
  content: attr(data-theme);
  top: -25px;
  margin: 0 5px;
  text-align: center;
  position: absolute;
  font-size: .4rem;
}

.calculator {
  min-width: 380px;
  margin: 0 20px;
}

.calculator .screen {
  color: var(--screen-text);
  height: 127px;
  margin: 30px 0 24px;
  padding: 45px 36px;
  position: relative;
  text-align: right;
  border-radius: 10px;
  background-color: var(--screen-bg);
}

.calculator .screen .value {
  font-size: 1.45rem;
}

.calculator .screen .operation {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: .6rem;
}

.calculator .keypad {
  padding: 32px;
  display: -ms-grid;
  display: grid;
  grid-gap: 28px 25px;
  grid-auto-rows: 60px;
  -ms-grid-columns: (minmax(60px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(60px, 1fr));
      grid-template-areas: "key7 key8 key9 del" "key4 key5 key6 add" "key1 key2 key3 minus" "dot key0 slash multiply" "reset reset equal equal";
  border-radius: 10px;
  background-color: var(--keypad-bg);
}

.calculator .keypad .key {
  color: var(--numeric-keys-text);
  cursor: pointer;
  padding: 15px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 0 0 var(--numeric-keys-shadow);
          box-shadow: 0 4px 0 0 var(--numeric-keys-shadow);
  background-color: var(--numeric-keys-bg);
}

.calculator .keypad .key span {
  font-weight: 700;
}

.calculator .keypad .key:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 2px 0 0 var(--numeric-keys-shadow);
          box-shadow: 0 2px 0 0 var(--numeric-keys-shadow);
}

.calculator .keypad .key.opt {
  color: var(--opt-keys-text);
  background-color: var(--opt-keys-bg);
  -webkit-box-shadow: 0 4px 0 0 var(--opt-keys-shadow);
          box-shadow: 0 4px 0 0 var(--opt-keys-shadow);
}

.calculator .keypad .key.opt:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 2px 0 0 var(--opt-keys-shadow);
          box-shadow: 0 2px 0 0 var(--opt-keys-shadow);
}

.calculator .keypad .key.opt span {
  font-size: .6rem;
  font-weight: 600;
}

.calculator .keypad .key.equal {
  color: var(--equal-key-text);
  -webkit-box-shadow: 0 4px 0 0 var(--equal-key-shadow);
          box-shadow: 0 4px 0 0 var(--equal-key-shadow);
  background-color: var(--equal-key-bg);
}

.calculator .keypad .key.equal:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 2px 0 0 var(--equal-key-shadow);
          box-shadow: 0 2px 0 0 var(--equal-key-shadow);
}

.calculator .keypad .key.equal span {
  font-size: .6rem;
  font-weight: 600;
}

.attribution {
  color: var(--screen-text);
  margin: 20px 0;
  font-size: .5rem;
  text-align: center;
  letter-spacing: 1px;
}

.attribution a {
  color: inherit;
  font-size: inherit;
}

#key0 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: key0;
}

#key1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: key1;
}

#key2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: key2;
}

#key3 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: key3;
}

#key4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: key4;
}

#key5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: key5;
}

#key6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: key6;
}

#key7 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: key7;
}

#key8 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: key8;
}

#key9 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: key9;
}

#dot {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: dot;
}

#slash {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: slash;
}

#add {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: add;
}

#minus {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: minus;
}

#multiply {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: multiply;
}

#reset {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: reset;
}

#del {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: del;
}

#equal {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: equal;
}
