*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
}

body{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

img{
    display: block;
}

.container{
    width: 100%;
    max-width: 320px;
    margin: 24px;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;

    .qr_code{
        width: 100%;
        border-radius: 10px;
    }

    h1{
        color: hsl(218, 44%, 22%);
        font-size: 1.5rem;
        text-align: center;
    }

    p{
        color: hsl(220, 15%, 55%);
        margin: 0 1rem;
        text-align: center;
    }

}

footer{
    margin: 0 32px;

    .attribution {
        color: hsl(218, 44%, 22%);
        font-size: 1rem;
        text-align: center;
        line-height: 1.5;
        letter-spacing: 1px;
    }
    
    .attribution a {
        font-size: inherit;
    }

}

